main.content
  section.home--about-section
    div.about--card
      p.about--bio Tyler Reckart is a programmer based in Philadelphia, PA. He works at #[a(href="https://altruist.com") Altruist] on their trading platform, specializing in bringing new asset classes to market. He's also occasionally present on Bluesky as #[a(href="https://bsky.app/profile/rkrt.net") @rkrt.net], where he posts about his projects and interests.

    article.latest--post
      div.article--header
        a(href="/posts/" + path) #[h2=attributes.title]
        span.post--meta #[+time(attributes.date)]
      div.article--content
        | !{preview}
        a(href="/posts/" + path, class="continue--reading") Continue reading
