header
  nav#site--nav
    a(href="/").site--title
      h1(style="padding-bottom:8px;")
        span(style="color:var(--gray);") TYLER
        span(style="color:var(--black);margin-left:6px;") RECKART
    div.mobile-nav-menu(id="mobile-nav")
      include nav-menu.pug
    div.nav--link-container(id="nav")
      include nav-menu.pug
    div.nav-menu-trigger(id="mobile-nav-trigger")
      div.nav-menu-trigger--inner