header
  nav#site--nav
    a(href="/").site--title
      svg(width="28", height="32", viewBox="0 0 28 32", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M12.2936 2.90649C16.6343 2.90651 20.2811 6.50239 21.312 11.3674C21.429 11.9196 21.507 12.288 21.5803 12.5275C21.6294 12.6884 21.6541 12.7689 21.688 12.8432C21.722 12.9176 21.7524 12.9659 21.8131 13.0624C22.0918 13.5051 22.6441 13.6373 23.7444 14.4954C24.5947 15.1584 25.1586 16.2015 25.1586 17.3772C25.1586 18.9116 24.203 20.1985 22.9197 20.7368C22.2128 21.0333 21.6033 21.896 21.6033 22.6896C21.6033 25.1988 19.6118 27.2331 17.155 27.2331C16.202 27.2331 15.1453 26.5767 14.214 26.795C13.7245 26.9097 13.4854 27.1325 13.0073 27.578C11.9802 28.5353 10.6923 29.0933 9.30469 29.0933C6.34497 29.0932 4.61031 26.5652 3.94564 23.6198C2.99867 19.4235 2.60508 16.1214 3.2062 11.7152C3.89897 6.63723 7.85001 2.90651 12.2936 2.90649Z", fill="var(--white)")
        path(d="M8.30125 9.06443C9.40138 9.16099 10.176 10.5772 10.0317 12.2275C9.88732 13.8781 8.87818 15.1382 7.77782 15.042C6.6775 14.9456 5.90295 13.5294 6.04735 11.8789C6.19182 10.2284 7.20093 8.96817 8.30125 9.06443ZM13.7778 9.06443C14.8782 8.96817 15.8873 10.2284 16.0317 11.8789C16.1761 13.5292 15.4014 14.9454 14.3013 15.042C13.2009 15.1382 12.1918 13.8781 12.0473 12.2275C11.903 10.577 12.6775 9.16074 13.7778 9.06443Z", fill="var(--purple)")
    div.nav--link-container(id="nav")
      include nav-menu.pug