header {
  display: flex;
  justify-content: center;
  z-index: 1;
  max-width: 650px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

header a {
  text-decoration: none;
}

nav#site--nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: var(--theme-ui-colors-text);
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: var(--text);
}

.site--head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.nav--link-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 0.55;
}

.site--title {
  flex: 0.25;
  align-self: center;
  display: flex;
}

.nav--link {
  padding: 2px 12px;
  font-size: 14px;
  display: block;
  font-weight: normal;
  border-radius: 12px;
  corner-shape: squircle;
}

.nav--link.active {
  background: var(--black);
  color: #fff;
}

.nav--link:not(.active):hover {
  background: var(--dark-grey);
}

.nav--link:hover {
  text-decoration: none;
}

.site--title>h1 {
  font-size: 16px;
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  header {
    margin : 0;
  }

  nav#site--nav {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav--link-container {
    flex: 0.75;
  }
}